body{
    background-color: #161616;
    color: white;
}
.navbar{
    max-width: 85%;
    margin: auto;
    margin-left: 8%;
    margin-right: 15%;
}
.popularcourse{
    margin-top: 5%;
}
.headpc {
    font-size: 46px;
    font-weight: 600;
}
.heading {
    max-width: 23%;
    margin: auto;
}
.pcourse {
    margin: 15px;
    display: flex;
    justify-content: center;
    
}
#active {
    background: #624bff;
    color: white;
}
.pcourse a{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
    color:#818c96;
    margin: 15px;
    padding: 5px 18px;
}
.smcard {
    display: flex;
    background-color: white;
    border: 1px;
    border-radius: 50px;
    padding: 3px 15px;
    color: #818c96;
    position: relative;
    margin: auto;
    max-width: 80%;
    bottom: 18px;
}
.smcard p{
    padding-top: 8px;
    padding-left: 5px;
}
.frontend {
    background-color: #212121;
    color:#818c96;
    padding-bottom: 28px;
    border-radius: 8px;
}
    
.fullstack {
    background-color: #212121;
    padding-bottom: 26px;
    border-radius: 8px;
}
.uiux {
    background-color: #212121;
    padding-bottom: 26px;
    border-radius: 8px;
    
}
.text-side {
    padding: 20px;
    
    color:#818c96;
}
.text-side-2 {
    padding: 18px 18px 0px 18px;
    
    color:#818c96;
}
.text-side h6{
    color:white;
}
.text-side-2 h6{
    color:white;
}
.btnlm a{
    text-decoration: none;
    border: 1px solid#F8DA64;
    color: #F8DA64;
    padding: 5px;
    border-radius: 4px;
    margin-left: 200px;
}
/* from here footer section style sheet */

.footer {
    margin: 7% 0% 0% 0%;
    background:url(https://hashinclude.info/footer-bg.cc00989cacc2122a.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footer-sec1 {
    padding-top: 7%;
    padding-bottom: 2%;
    color: #0b7077;
}
.footer-sec2 {
    padding: 10px 3px;
}
.footer-sec2 img{
    padding-right: 10px;
}
.footer-sec3 {
    color: black;
}
.footer-sec3 a{
    text-decoration: none;
    color:black;
}
.footer-links {
    margin-top: 20px;
}